@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

html {
  background-color: #fdf2d5;
}

article,
section {
  display: block; 
}

body,
button {
  font-family: "Nunito", sans-serif; 
}

#meal-page {
    display: none; 
}

#favorites-page {
    display: none; 
}