/* * {
    box-sizing: border-box;
} */

body {
    font-family: sans-serif;
    background-color: blanchedalmond;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: slategray;
}

#welcome-page {
    text-align: center;
}

#welcome-title {
    padding-top: 100px;
    font-size: 100px;
}

#welcome-words {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    font-size: 20px;
}

#search-box {
    font-size: 20px;
}

#search-btn {
    font-size: 20px;
    border-radius: 10px;
}



#next-page {
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: green;
}

/* @media screen and (max-width: 768px) { 
    main,
    nav {
        flex-direction: column;
    }
} */